Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore(main): release chromium-bidi 14.0.0 (#4057)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6d0a494110fe0c47dcc75a1a4dfa110c25097827
  bench/data.js
Due: copyright

feat(chrome)!: update the pinned browser version to 147.0.7681.0
  .browser
Due: none

feat: use CDP for a11y selectors
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: none

remove excessive condition
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

remove `as any`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

update expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/interop/beforeunload_prompt.py.ini
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

Do not enable DOM CDP domain
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

remove outdated wpt expectation
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py.ini
Due: none

feat(chrome)!: update the pinned browser version to 147.0.7681.0 (#4058)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fc034f3910f7eac64e0aa52c531b331cdad010cb
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@fc034f3910f7eac64e0aa52c531b331cdad010cb 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 67f8cb71784a294216550f688697e443d3cf7894
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@67f8cb71784a294216550f688697e443d3cf7894 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat: use CDP for a11y selectors (#4059)
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py.ini
Due: copyright, node-self

chore(main): release chromium-bidi 15.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9df3580eb4f48c3c7a5d813f92b404aa78dbc07e
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 15.0.0 (#4060)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a59a5f5bb0f5925893882c3740ac73b62baa68c0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a59a5f5bb0f5925893882c3740ac73b62baa68c0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7682.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7682.0 (#4062)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4a8a35e293d8f6ec69f9c7d7ab68dee4316d2c6b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4a8a35e293d8f6ec69f9c7d7ab68dee4316d2c6b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0dca488bd27af9815b757b0d2f239babcebd6478
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@0dca488bd27af9815b757b0d2f239babcebd6478 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7683.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7683.0 (#4064)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b8c12576f44d59824c3efb5dd22ab9d3040ede47
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b8c12576f44d59824c3efb5dd22ab9d3040ede47 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

test: repro https://github.com/GoogleChromeLabs/chromium-bidi/issues/4043
  tests/browsing_context/test_reload.py
Due: copyright

build(chrome): update the pinned browser version to 147.0.7684.2
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7684.2 (#4066)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 57000b2623213a5f1a4fd036f768df866817cb97
  bench/data.js
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/user_contexts.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c476b03134e928a87602ce11d49a1495c27fa7a0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c476b03134e928a87602ce11d49a1495c27fa7a0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat(benchmark): add 'evaluate 1' benchmark to puppeteer perf tests
  tools/benchmark-puppeteer.mjs
Due: copyright

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
