Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

fix(dc): align digital credentials types and unit tests with generated const enum
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
Due: copyright, node-self

fix(build): restore EmptyResult post-processing in generate-bidi-types.mjs
  tools/generate-bidi-types.mjs
Due: copyright

fix(tooling): use dynamic year in generated bidi types copyright header
  tools/generate-bidi-types.mjs
Due: copyright

build(spec): regenerate bidi types with dynamic copyright year
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: implement digitalCredentials.setVirtualWalletBehavior (#4196)
  src/BUILD.gn
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  src/protocol/protocol.ts
  tests/conftest.py
  tests/digital_credentials/test_virtual_wallet.py
  tools/generate-bidi-types.mjs
  tools/update-bidi-types.sh
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 90461142c6810a527a1d474d5b068a6895960f80
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 17.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(main): release chromium-bidi 17.0.0 (#4202)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b511b62027b0fd45099d47eabd60e721b9d037a4
  bench/data.js
Due: copyright

build: fix npm publish after gn migration
  .github/workflows/publish.yml
Due: none

build: fix npm publish after gn migration (#4203)
  .github/workflows/publish.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 185a2a70eb08ec2e9f120671a22f6e6eadd18278
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 17.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: remove fork from manual scripts
  tools/release-please.sh
Due: none

test: deflake flaky tests on macos
  tests/conftest.py
Due: copyright

build: remove fork from manual scripts (#4205)
  tools/release-please.sh
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 817928b95a5b8d3bab488ff9b1821eb5ff3ae943
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 17.0.1 (#4204)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 604ce1f31ac48ee895f8818c56d2a310d32da2df
  bench/data.js
Due: copyright

build: delete create-release.sh
  tools/create-release.sh
Due: none

test: deflake flaky tests on macos (#4206)
  tests/conftest.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for e337483dd01a53e12ff457b492925c4fc5540b09
  bench/data.js
Due: copyright

build: delete create-release.sh (#4207)
  tools/create-release.sh
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6cf942984e4bca72d36d791e317012a4f871d0aa
  bench/data.js
Due: copyright

fix: various build issues found by releasing after the gn migration
  .github/workflows/performance.yml
  package.json
  rollup.config.mjs
  tools/build/bidi_module.gni
Due: copyright

fix: various build issues found by releasing after the gn migration (#4208)
  .github/workflows/performance.yml
  package.json
  rollup.config.mjs
  tools/build/bidi_module.gni
Due: copyright

chore(main): release chromium-bidi 17.0.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a4677ce43c88e3473b8ecc9c6bbe1452977d1650
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 17.0.2 (#4209)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 237806b5551fab0bc7d34b2d4e26b61e160aec07
  bench/data.js
Due: copyright

build: download node_modules
  .github/workflows/e2e.yml
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.disabled-yml
  .github/workflows/update-browser-version.disabled-yml
  .github/workflows/wpt.yml
  .prettierignore
  DEPS
  README.md
  docs/benchmark.md
  eslint.config.mjs
  package.json
  pyproject.toml
  tools/build/scripts/rollup.py
  tools/npm_exclude.txt
  tools/update-bidi-types.sh
  tools/update_chrome_revision.mjs
  tools/update_node_modules.mjs
Due: copyright

Update tools/update_node_modules.mjs
  tools/update_node_modules.mjs
Due: copyright

build: download node_modules using gclient (#4210)
  .github/workflows/e2e.yml
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish.yml
  .github/workflows/puppeteer.yml
  .github/workflows/unit.yml
  .github/workflows/update-bidi-types.disabled-yml
  .github/workflows/update-browser-version.disabled-yml
  .github/workflows/wpt.yml
  .prettierignore
  DEPS
  README.md
  docs/benchmark.md
  eslint.config.mjs
  package.json
  pyproject.toml
  tools/build/scripts/rollup.py
  tools/npm_exclude.txt
  tools/update-bidi-types.sh
  tools/update_chrome_revision.mjs
  tools/update_node_modules.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 2213c77b43d323614a83baf4ac330b67b9188267
  bench/data.js
Due: copyright

build: fixes for tsc
  rollup.config.mjs
  src/BUILD.gn
  tools/benchmark-selenium.mjs
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/clean.mjs
  tools/update_chrome_revision.mjs
  tools/update_node_modules.mjs
Due: copyright

build: misc build fixes for chromium (#4211)
  rollup.config.mjs
  src/BUILD.gn
  tools/benchmark-selenium.mjs
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/clean.mjs
  tools/update_chrome_revision.mjs
  tools/update_node_modules.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 7820a4e747cfcad61438d76b95c9b86308a2589e
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 30036b1de734aa1b1536ba2efa90d002a8421b3c
  bench/data.js
Due: copyright

build: remove linking in favor of explicit node_modules
  rollup.config.mjs
  src/BUILD.gn
Due: copyright

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
