Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

fix
  package-lock.json
Due: none

chore(deps): bump devDeps (#4161)
  package-lock.json
  package.json
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputSource.ts
  src/utils/uuid.ts
  tsconfig.base.json
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for f094db060b38963f90e1ab229d7c53c5e4d24c21
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@f094db060b38963f90e1ab229d7c53c5e4d24c21 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix
  eslint.config.mjs
  package.json
Due: copyright

fix
  eslint.config.mjs
  package.json
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  src/bidiMapper/modules/network/NetworkModuleMocks.test.ts
  src/utils/transportStub.test.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 67c942a85d3ca176920b808e5e05128e28d77ad9
  bench/data.js
Due: copyright

chore: remove deps for tooling
  package-lock.json
  package.json
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
  tools/run-e2e.mjs
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
  tools/wpt-report-builder/builder.mjs
Due: copyright

fix
  package-lock.json
  src/bidiServer/index.ts
Due: copyright, node-self

fix tests
  src/bidiServer/index.ts
Due: copyright, node-self

chore: remove deps for tooling (#4166)
  package-lock.json
  package.json
  src/bidiServer/index.ts
  tools/bidi-server.mjs
  tools/generate-bidi-types.mjs
  tools/run-e2e.mjs
  tools/run-wpt-all.mjs
  tools/run-wpt.mjs
  tools/wpt-report-builder/builder.mjs
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 150.0.7863.0
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 05916e613dfad29cc230765291e9cb2f5def9eb2
  bench/data.js
Due: copyright

chore: update tests and browsers
  package-lock.json
  package.json
  tests/bluetooth/test_characteristic_emulation.py
  tests/script/test_add_preload_script.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: copyright

feat(chrome)!: update the pinned browser version to 150.0.7863.0 (#4164)
  .browser
  package-lock.json
  package.json
  tests/bluetooth/test_characteristic_emulation.py
  tests/script/test_add_preload_script.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 257e79ea1acd57d6b643ed10d5640d411f607dcb
  bench/data.js
Due: copyright

refactor: replace debug with Node debuglog
  package-lock.json
  package.json
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/PipeTransport.ts
  src/bidiServer/WebSocketServer.ts
Due: copyright, node-self

f
  package.json
Due: none

fix tests
  tools/bidi-server.mjs
Due: copyright

refactor: replace debug with Node debuglog (#4167)
  package-lock.json
  package.json
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/PipeTransport.ts
  src/bidiServer/WebSocketServer.ts
  tools/bidi-server.mjs
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 4a578e5f674aa89d8d7431367eec7fd41e255996
  bench/data.js
Due: copyright

test: update perf runner
  .github/workflows/performance.yml
Due: none

test: update perf runner (#4168)
  .github/workflows/performance.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6533795637b5d9ff002da3b0da2051dce45233f5
  bench/data.js
Due: copyright

init
  .github/workflows/e2e.yml
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/unit.yml
  .github/workflows/wpt.yml
  .gitignore
  .gn
  .vscode/launch.template.json
  BUILD.gn
  DEPS
  GEMINI.md
  README.md
  build_overrides/BUILDCONFIG.gn
  build_overrides/build.gni
  eslint.config.mjs
  package.json
  rollup.config.mjs
  src/BUILD.gn
  src/bidiMapper/tsconfig.json
  src/bidiServer/reader.ts
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.json
  src/tsconfig.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/build/scripts/rollup.py
  tools/build/ts_library.gni
  tools/gclient-sync.sh
  tools/path-getter/path-getter.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

refactor: migrate from wireit to GN (#4158)
  .github/workflows/e2e.yml
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/unit.yml
  .github/workflows/wpt.yml
  .gitignore
  .gn
  .vscode/launch.template.json
  BUILD.gn
  DEPS
  GEMINI.md
  README.md
  build_overrides/BUILDCONFIG.gn
  build_overrides/build.gni
  eslint.config.mjs
  package.json
  rollup.config.mjs
  src/BUILD.gn
  src/bidiMapper/tsconfig.json
  src/bidiServer/reader.ts
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.json
  src/tsconfig.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/build/scripts/rollup.py
  tools/build/ts_library.gni
  tools/gclient-sync.sh
  tools/path-getter/path-getter.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 18f155b1810dacaf7e72f1e8563338316532c942
  bench/data.js
Due: copyright

perf: allow loggin per perfix
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/log/LogManager.ts
  src/bidiMapper/modules/network/CollectorsStorage.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.test.ts
  src/bidiMapper/modules/script/ChannelProxy.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/CdpConnection.ts
  src/utils/ProcessingQueue.ts
  src/utils/log.ts
Due: copyright, node-self

fix tests
  src/utils/ProcessingQueue.test.ts
Due: copyright, node-self

fix test
  src/utils/ProcessingQueue.test.ts
Due: copyright, node-self

fix: set mobile device metrics on Android targets
  src/BUILD.gn
  src/bidiMapper/modules/cdp/CdpTarget.test.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

perf: allow loggin per perfix (#4169)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/log/LogManager.ts
  src/bidiMapper/modules/network/CollectorsStorage.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.test.ts
  src/bidiMapper/modules/script/ChannelProxy.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
  src/bidiMapper/modules/storage/StorageProcessor.ts
  src/bidiTab/Transport.ts
  src/bidiTab/bidiTab.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/CdpConnection.ts
  src/utils/ProcessingQueue.test.ts
  src/utils/ProcessingQueue.ts
  src/utils/log.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 243f4b88155852883fd089d78a39f5e86802f8ff
  bench/data.js
Due: copyright

Update dependabot.yml
  .github/dependabot.yml
Due: none

build: fix gn
  .gn
Due: none

feat(chrome)!: update the pinned browser version to 151.0.7888.0
  .browser
  package-lock.json
  package.json
Due: none

chore: touch dependabot.yml (#4171)
  .github/dependabot.yml
Due: none
