Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

add Benchmark (customSmallerIsBetter) benchmark result for 1b6b0d3fb7f670f21aee240689f193a826ed8281
  bench/data.js
Due: copyright

[chromium-bidi] fix bidi e2e with nodejs runner
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 2977dbc204cb2a5e2642a27a1015fe65d4974591
  bench/data.js
Due: copyright

[chromium-bidi] Fix github actions
  tools/bidi-server.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for b10321bcd369eae3a37eb6c860c35d2f67f8c757
  bench/data.js
Due: copyright

[chromium-bidi] Generate README.chromium from template and third-party notices
  README.md
  package.json
  rollup.config.mjs
  tools/append_notices.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 03a199b1612018ee15d5b1a6e55c8b1f8214f292
  bench/data.js
Due: copyright

[chromedriver] Switch mapper dependency to third_party/chromium-bidi
  tools/bidi-server.mjs
  tools/run-e2e.mjs
Due: copyright

[chromium-bidi] enable CQ flakiness detection for BiDi tests
  .gitignore
  README.md
  tests/resultsink_reporter.py
  tests/test_resultsink_reporter.py
  tools/bidi-server.mjs
  tools/run_unittests.py
Due: copyright

[chromium-bidi] implement `emulation.setMediaFeaturesOverride`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_media_features.py
Due: copyright, node-self

[chromium-bidi] Align `emulation.setScrollbarTypeOverride` with the spec
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_scrollbar.py
Due: copyright, node-self

Run `gn format` on all build files
  BUILD.gn
  src/BUILD.gn
  testing/test.gni
  tools/build/ts_library.gni
Due: none

[chromium-bidi] Re-enable and fix E2E tests
  tests/browser/test_create_user_context.py
  tests/network/test_continue_with_auth.py
  tests/tools/http_proxy_server.py
  tools/http-proxy.mjs
  tools/node.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 5f2ec09c368d1c0e7ecada5fdebed2bd757d4ce7
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 7b3286ee12c78ac3c5fc496fe50eaa37c1e31f65
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 58e0530ec144b525f6578f4816c232fc399000c3
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 9a011f0644b42f99b1004655316333562e6c4836
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for bbb4ea432cbc1d67d2a7b20e150940a3a557831b
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 509c24cf076ddec34e0fe5c6a55600b0dee79895
  bench/data.js
Due: copyright

[chromium-bidi] Update dependencies
  DEPS
  package-lock.json
  package.json
Due: none

[chromium-bidi] simplify chromium-bidi scripts
  AGENTS.md
  BUILD.gn
  README.md
  docs/benchmark.md
  examples/README.md
  package.json
  tests/resultsink_reporter.py
  tests/test_resultsink_reporter.py
  tests/tools/http_proxy_server.py
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/benchmark-utils.mjs
  tools/benchmark.mjs
  tools/bidi-server.mjs
  tools/clean.mjs
  tools/generate-bidi-types.mjs
  tools/http-proxy.mjs
  tools/path-getter/path-getter.mjs
  tools/run-bidi-server.mjs
  tools/run-e2e.mjs
  tools/run_bidi_server.py
  tools/run_e2e.py
  tools/run_unittests.py
  tools/test_runner_utils.py
  tools/update-bidi-types.sh
  tools/update_bidi_types.py
  tools/update_node_modules.mjs
  tools/update_node_modules.py
Due: copyright

[chromium-bidi] Update WebDriver BiDi protocol types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

[chromium-bidi] Remove Node.js BiDi server and use ChromeDriver only
  .github/workflows/performance.yml
  AGENTS.md
  DEPS
  README.md
  eslint.config.mjs
  examples/README.md
  package-lock.json
  package.json
  src/BUILD.gn
  src/bidiServer/BrowserInstance.ts
  src/bidiServer/MapperCdpConnection.ts
  src/bidiServer/PipeTransport.ts
  src/bidiServer/SimpleTransport.ts
  src/bidiServer/WebSocketServer.ts
  src/bidiServer/index.ts
  src/bidiServer/reader.ts
  tests/browsing_context/test_close.py
  tests/conftest.py
  tests/permissions/test_set_permission.py
  tests/session/test_protocol_basics.py
  tools/run_bidi_server.py
  tools/run_e2e.py
  tools/test_runner_utils.py
  tools/update_node_modules.py
Due: copyright, node-self

[chromium-bidi] Fix test_input_performActionsEmitsClickCountsByButton on Windows
  tests/input/test_input.py
Due: copyright

VPython: migrate legacy vpython to UV across subdirectories
  .vpython3
  BUILD.gn
  README.md
  tools/run_e2e.py
  vpython.toml
  vpython.toml.uv.lock
Due: copyright

[chromium-bidi] Support userContext in events, command results, and realms
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/context/NavigationTracker.test.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/script/WorkerRealm.ts
  tests/browser/test_create_user_context.py
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_download.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_history_updated.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_reload.py
  tests/browsing_context/test_user_prompt.py
  tests/input/file_dialog/__snapshots__/test_file_dialog_opened.ambr
  tests/input/file_dialog/test_file_dialog_opened.py
  tests/log/test_log_entry_added.py
  tests/network/test_continue_request.py
  tests/network/test_continue_response.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
  tests/network/test_remove_intercept.py
  tests/script/test_channel.py
  tests/script/test_get_realms.py
  tests/script/test_realm.py
  tests/script/test_serialization.py
  tests/session/test_subscription.py
Due: copyright, node-self

[chromium-bidi] Update dependencies and WebDriver BiDi types
  DEPS
  package-lock.json
  package.json
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 314cf35cfb3de63881fd735b0c3add327d2e2cb2
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 25f68543e8e27014147cf2850a0c2761a9feda30
  bench/data.js
Due: copyright

Migrate Chromium BiDi to TS v7
  tools/build/scripts/compile_ts.py
  tools/build/ts_library.gni
  tsconfig.base.json
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for aff3a767d86cec2becaa0a0978ad2ca7fa1c8eb4
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 644bba29ddc6d8dd4becc01208b88de9bd747982
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 6fa3b38114f51ca7a6beb9046ea6df005d25854d
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for df4b14cb88fe23d414df1a5e0b482f9ab3c46502
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c372e57a6635747904a1909eefea8897cf04ea59
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 526a69f69eb759a71f20c516bbf195faba24ac00
  bench/data.js
Due: copyright

[chromium-bidi] Fix script evaluation in newly opened loading contexts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/script/test_evaluate.py
Due: copyright, node-self

[chromium-bidi] Fix update_node_modules.py to update root DEPS
  README.md
  tools/update_node_modules.py
Due: copyright

[chromium-bidi] Implement emulation.setViewportMetaOverride
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.test.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_viewport_meta.py
Due: copyright, node-self

[chromium-bidi] Add explicit type annotations for isolatedDeclarations
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/bluetooth/BluetoothProcessor.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.ts
  src/bidiMapper/modules/browser/UserContextStorage.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/input/ActionDispatcher.ts
  src/bidiMapper/modules/input/InputSource.ts
  src/bidiMapper/modules/input/InputState.ts
  src/bidiMapper/modules/log/LogManager.ts
  src/bidiMapper/modules/network/CollectorsStorage.ts
  src/bidiMapper/modules/network/NetworkModuleMocks.test.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
  src/bidiMapper/modules/script/ChannelProxy.ts
  src/bidiMapper/modules/script/PreloadScript.ts
  src/bidiMapper/modules/script/PreloadScriptStorage.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/RealmStorage.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/session/SubscriptionManager.ts
  src/bidiMapper/modules/speculation/SpeculationProcessor.ts
  src/bidiTab/Transport.ts
  src/bidiTab/mapperTabPage.ts
  src/cdp/CdpConnection.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.ts
  src/protocol/chromium-bidi.ts
  src/utils/Buffer.ts
  src/utils/Deferred.ts
  src/utils/ProcessingQueue.ts
  src/utils/transportStub.test.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
