Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

build(chrome): update the pinned browser version to 147.0.7714.0
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 042b96dc6535d1325e6dcf15e5b7f6977772d48f
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@042b96dc6535d1325e6dcf15e5b7f6977772d48f 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7714.0 (#4107)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6992449c1b0b497e9fe5892e13cb594f4644976a
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6992449c1b0b497e9fe5892e13cb594f4644976a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: fmt
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

fix: add explicit locale file import
  src/protocol-parser/protocol-parser.ts
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

fix: test
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright

chore: bump zod v4
  package-lock.json
  package.json
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: fmt
  src/protocol-parser/protocol-parser.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: gen zod & ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore: bump cddlconv
  .github/workflows/update-bidi-types.yml
Due: none

chore: restore image
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b42b7976031a467c0a20784a35ab676872f00434
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for da9143746e3afa9e915292f3b1d6a117d0307058
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 74c4758718828ea2f970be5dfe4d1617ac7fb40e
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 79cb34d1400bb16b4387616627d6728b191cc7b0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b42b7976031a467c0a20784a35ab676872f00434 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@79cb34d1400bb16b4387616627d6728b191cc7b0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@74c4758718828ea2f970be5dfe4d1617ac7fb40e 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for bbbc0296007236644c8b731861d48c0e570fccc4
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 147.0.7718.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7718.0 (#4114)
  .browser
  package-lock.json
  package.json
Due: none

chore(main): release chromium-bidi 15.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for f863d1fdf265c49ab6df65b27436773712980627
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 147.0.7723.0
  .browser
  package-lock.json
  package.json
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 148.0.7733.0
  .browser
  package-lock.json
  package.json
Due: none

fix: apply %s formatting to Symbol in entry.text
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

Fix comment formatting in getArgsForText function
  src/bidiMapper/modules/log/LogManager.ts
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 148.0.7761.0
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0f182ce17206c1b30ec416051d285623698f01f8
  bench/data.js
Due: copyright

feat(chrome)!: update the pinned browser version to 148.0.7764.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 148.0.7764.0 (#4115)
  .browser
  package-lock.json
  package.json
Due: none

chore(main): release chromium-bidi 16.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 086aeb905a5cb94c152aa461e94d39618f0995d6
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 4d8c78331aa38a41eea84f304345ee1bd210aa44
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 141220ad98e75d2e8531ff73655cf78dc7308dab
  bench/data.js
Due: copyright
