Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build: sync package versions
  package.json
Due: none

build: set deps
  DEPS
Due: none

build: update_node_modules.mjs passes `--force` or `--dry-run`
  DEPS
  tools/update_node_modules.mjs
Due: copyright

package-lock
  package-lock.json
Due: none

build: sync package versions (#4242)
  DEPS
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for f7c7f00226beb47dec286895cba4e203e7264682
  bench/data.js
Due: copyright

remove redundant @ts-expect-error
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 153.0.8010.2
  .browser
  package.json
Due: none

chore: improve browser version update script with validation, dependency refreshing, and dynamic PR target branch selection
  .npmrc
  package-lock.json
  tools/update-browser-version.sh
  tools/update_chrome_revision.mjs
Due: copyright

bump browser version
  .browser
  DEPS
  package-lock.json
  package.json
Due: none

fix unit test
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
Due: copyright, node-self

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
Due: none

update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/request.py.ini
Due: none

fix CDDL generator
  src/protocol-parser/generated/webdriver-bidi.ts
  tools/generate-bidi-types.mjs
Due: copyright, node-self

feat: implement
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_media_features.py
  tools/run-wpt.mjs
Due: copyright, node-self

feat(chrome)!: update the pinned browser version to 154.0.8011.0 (#4246)
  .browser
  .npmrc
  DEPS
  package-lock.json
  package.json
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  tools/update-browser-version.sh
  tools/update_chrome_revision.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/get_data/request.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/remove_intercept/remove_intercept.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for de0eea38ebae8b9430ba87be64fcf4010d4fe288
  bench/data.js
Due: copyright

build: update cddlconv to 0.1.9
  .github/workflows/update-bidi-types.disabled-yml
  tools/update-bidi-types.sh
Due: none

check cddlconv version
  tools/update-bidi-types.sh
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build: update cddlconv to 0.1.9 (#4250)
  .github/workflows/update-bidi-types.disabled-yml
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/update-bidi-types.sh
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 0b743656e4f075e00a0e7b3001f34650c0b5eb5d
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for b2ea3f6eb3a8cd125d290f3424cb8c38f3e3ebc4
  bench/data.js
Due: copyright

revert cddlconv workaround
  tools/generate-bidi-types.mjs
Due: copyright

build: roll-back typescript + sync DEPS
  .github/dependabot.yml
  DEPS
  package-lock.json
  package.json
Due: none

add cooldown
  .github/dependabot.yml
  DEPS
Due: none

DEPS
  DEPS
Due: none

format
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiTab/bidiTab.ts
  src/cdp/CdpClient.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi.ts
  src/utils/result.ts
  tools/run-wpt.mjs
Due: copyright, node-self

build: roll-back typescript + sync DEPS (#4252)
  .github/dependabot.yml
  DEPS
  package-lock.json
  package.json
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiTab/bidiTab.ts
  src/cdp/CdpClient.ts
  src/protocol/cdp.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi.ts
  src/utils/result.ts
  tools/run-wpt.mjs
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for c647d0aaca25334926d83136ea851fd32eb46c7e
  bench/data.js
Due: copyright

test: merge
  .github/dependabot.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 45ae77c9484823591a360f531cf87edb7b43a5f9
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 169c747680a57efb858ae735b0d86ecf9b3e684b
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 258834cadc2649306394b20a63eb1a063e2823c3
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for fdbffce39db65bedcf7df068578d50fa1f87e897
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for ae1c4c3974f4b993818d8a42c7378e52118d924e
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 3dcd555ec6dea77b8a9a613c981b36d256e320ab
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c1cee2af9362abba37dc8286f196bb6933424a86
  bench/data.js
Due: copyright

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
