Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

qwe
  .github/workflows/performance.yml
Due: none

pull-requests: write
  .github/workflows/performance.yml
Due: none

publish wpt and perf reports only in main
  .github/workflows/performance.yml
  .github/workflows/wpt.yml
Due: none

Comment only when run in PR
  .github/workflows/performance.yml
Due: none

Index + WPT + bench
  bench/index.html
  index.html
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: publish performance data to gh-pages (#3907)
  .github/workflows/performance.yml
  .github/workflows/wpt.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6f321e470e1c09fb9e76501b512fffa9579f55c2
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6f321e470e1c09fb9e76501b512fffa9579f55c2 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/locale.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_locale_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/locale.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_locale_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/combined/multiple_emulations.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_locale_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_locale_override/locale.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_locale_override/user_contexts.py.ini
Due: none

build(chrome): update the pinned browser version to 144.0.7523.0 (#3906)
  .browser
  package-lock.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b2b27389f42deacad6d80a7804fbad09bdb62283
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b2b27389f42deacad6d80a7804fbad09bdb62283 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b0dd472c0de4ad5dcf0e61b25b5bf5559d2b28fc
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b0dd472c0de4ad5dcf0e61b25b5bf5559d2b28fc 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: link to perf in README.md
  README.md
Due: none

chore: link to perf tests
  bench/index.html
Due: none

chore: link to perf in README.md (#3911)
  README.md
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b5521d7c93de57f660daf0da66ba3c902bc6473e
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b5521d7c93de57f660daf0da66ba3c902bc6473e 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7524.0
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7524.0 (#3910)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9ad4a13067cb8eeb08c58caee7a7d3513a67827d
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for df5bec46f03ba75d050c58af322bd0d82bc944dd
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@df5bec46f03ba75d050c58af322bd0d82bc944dd 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7526.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 144.0.7526.0 (#3913)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8c2fdbab8768fcc2ea8299c3ac960888442ba0d6
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for b0f5c26c78ba135f84aebe9495172467fe2f5870
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 144.0.7526.3
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7526.3 (#3915)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a45ee1b2e70cf7fd17cb6fd8c9c7d6253faf78d3
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a45ee1b2e70cf7fd17cb6fd8c9c7d6253faf78d3 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: correctly report data sizes (#3836)
  src/bidiMapper/modules/network/CollectorsStorage.ts
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
  tests/network/test_network.py
Due: copyright, node-self

chore(main): release chromium-bidi 11.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 154abaaec7e35dc86bcc9dcfd9384d58a65cca08
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@154abaaec7e35dc86bcc9dcfd9384d58a65cca08 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 11.0.1 (#3916)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b421d27106b1c42fcf6f910c0e7c68e7f47edf22
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b421d27106b1c42fcf6f910c0e7c68e7f47edf22 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b421d27106b1c42fcf6f910c0e7c68e7f47edf22 🚀
  wpt/index.html
Due: none
