Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@aabd7831255a90b01afcc59c40992cc0c3e7cdbe 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

revert: "fix: extra headers can have duplicates" (#3939)
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 4a9b011956055a5e4d098912a361c1699d4c39d4
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4a9b011956055a5e4d098912a361c1699d4c39d4 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: emit responseCompleted at the right time
  src/bidiMapper/modules/network/NetworkStorage.ts
Due: copyright, node-self

fix: ensure `network.beforeRequestSent` is emitted before `network.authRequired`
  .gitignore
  src/bidiMapper/modules/network/NetworkRequest.ts
  tests/network/test_continue_with_auth.py
Due: copyright, node-self

unit test
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
Due: copyright, node-self

fix: ensure `network.beforeRequestSent` is emitted before `network.authRequired` (#3941)
  .gitignore
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.spec.ts
  tests/network/test_continue_with_auth.py
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 5072f49367bd94678aa12d744cf0df88818b03f0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@5072f49367bd94678aa12d744cf0df88818b03f0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: run puppeteer without `xvfb-run`
  .github/workflows/puppeteer.yml
Due: none

debug logging
  .github/workflows/puppeteer.yml
Due: none

remove debug log
  .github/workflows/puppeteer.yml
Due: none

build(chrome): update the pinned browser version to 145.0.7575.2
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 145.0.7575.2 (#3940)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 95f1aea17ba1f8c90d9a8b1b0890256481d60dd2
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@95f1aea17ba1f8c90d9a8b1b0890256481d60dd2 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat: `emulation.setScreenSettingsOverride`
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

feat: add `emulation.setScreenSettingsOverride`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

feat: implement `emulation.setScreenSettingsOverride` BiDi command for managing screen area.
  .gitignore
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_screen_settings.py
Due: copyright, node-self

feat: add tests for `emulation.setScreenSettingsOverride` covering user contexts, browsing contexts, precedence, and global failure.
  tests/emulation/test_screen_settings.py
Due: copyright

feat: emulation.setScreenSettingsOverride (#3943)
  .gitignore
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_screen_settings.py
Due: copyright, node-self

chore(main): release chromium-bidi 12.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c3ffde028b11d26f535380a4df26b3b73d27d250
  bench/data.js
Due: copyright

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c3ffde028b11d26f535380a4df26b3b73d27d250 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 12.0.0 (#3934)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c307ba4d601e890d62e11f279bbf3d2749609893
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c307ba4d601e890d62e11f279bbf3d2749609893 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 145.0.7578.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 145.0.7578.0 (#3946)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c139171d0a18c0317abfc6c4de13da021d4477d6
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c139171d0a18c0317abfc6c4de13da021d4477d6 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: reliably detect default user context, regardless of already the opened tabs
  src/bidiMapper/BidiServer.ts
Due: copyright, node-self

fix: reliably detect default user context (#3947)
  src/bidiMapper/BidiServer.ts
Due: copyright, node-self

chore(main): release chromium-bidi 12.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4184afc241f75bf79d19eb5f38bd568bd4e8e9ec
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4184afc241f75bf79d19eb5f38bd568bd4e8e9ec 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 12.0.1 (#3948)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none
