Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@299577a6e5664c315e1d1d25627605da1f069e08 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat: add `userContext` to events
  tests/browsing_context/test_download.py
Due: copyright

fixes
  src/bidiMapper/modules/script/Realm.ts
  tests/browsing_context/test_download.py
  tests/input/file_dialog/__snapshots__/test_file_dialog_opened.ambr
  tests/input/file_dialog/test_file_dialog_opened.py
  tests/script/test_serialization.py
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#4086)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for b675d37c99d269acc4ec031bd3f9594a30b1d194
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b675d37c99d269acc4ec031bd3f9594a30b1d194 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7695.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7695.0 (#4085)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8ab28d95aca94680e96ce35bb771bf475612a68b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@8ab28d95aca94680e96ce35bb771bf475612a68b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7697.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7697.0 (#4087)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6b0f1cf910abdacda8ed0441ddffcd4d402ef722
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6b0f1cf910abdacda8ed0441ddffcd4d402ef722 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix tests
  tests/browser/test_create_user_context.py
  tests/network/test_continue_request.py
  tests/network/test_continue_with_auth.py
  tests/network/test_fail_request.py
  tests/network/test_provide_response.py
Due: copyright

fix tests
  tests/network/test_fail_request.py
  tests/network/test_remove_intercept.py
  tests/session/test_subscription.py
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/message/message.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/message/message.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/beforeunload.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/message/message.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_created/realm_created.py.ini
Due: none

build(chrome): update the pinned browser version to 147.0.7699.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7699.0 (#4088)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ffe6f2c2ecf975809eb206bb853da6fe6e17b4f7
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 73b710ba3bea7a6bed5dfdd43f588a9090bbb0a3
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@73b710ba3bea7a6bed5dfdd43f588a9090bbb0a3 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 52a7ce76b9df75f0be0392701ba2d405633aa1d0
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 147.0.7700.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7700.0 (#4092)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 98c9fd0db3b0411f64d0b923dc914b71703e2936
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@98c9fd0db3b0411f64d0b923dc914b71703e2936 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7701.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7701.0 (#4093)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fa7da8df89afcb86662cca81a260cd8e058e1ccf
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@fa7da8df89afcb86662cca81a260cd8e058e1ccf 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7702.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7702.0 (#4094)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for dcc4b1f5c3661b4f01c7db0d7589aacc7748f1be
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@dcc4b1f5c3661b4f01c7db0d7589aacc7748f1be 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7704.0
  .browser
Due: none

update wpt expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/file_dialog_opened/tentative/show_open_file_picker.py.ini
Due: none

build(chrome): update the pinned browser version to 147.0.7704.0 (#4097)
  .browser
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/file_dialog_opened/tentative/show_open_file_picker.py.ini
Due: none

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
