Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

add Benchmark (customSmallerIsBetter) benchmark result for 91da5561c2801988ea1889aca2129f14593ba0d9
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@91da5561c2801988ea1889aca2129f14593ba0d9 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7705.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7705.0 (#4098)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a1fc49aee9fffb59ea4c47e81944f8c9575fd2f1
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a1fc49aee9fffb59ea4c47e81944f8c9575fd2f1 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update dependabot.yml configuration
  .github/dependabot.yml
Due: none

ci: touch dependabot.yml (#4099)
  .github/dependabot.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ece0c0dab3a38e80fd915f7609d0dadb0a3581b4
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ece0c0dab3a38e80fd915f7609d0dadb0a3581b4 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat: implement
  package-lock.json
  package.json
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_scrollbar.py
Due: copyright, node-self

fix
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_scrollbar.py
Due: copyright, node-self

Update tests/emulation/test_scrollbar.py
  tests/emulation/test_scrollbar.py
Due: copyright

align with spec
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/emulation/test_scrollbar.py
Due: copyright, node-self

update comment
  tests/emulation/test_scrollbar.py
Due: copyright

feat: implement `emulation.setScrollbarTypeOverride` (#4103)
  package-lock.json
  package.json
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_scrollbar.py
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 16444a72eda3f21d6771d2b265352e957958c009
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@16444a72eda3f21d6771d2b265352e957958c009 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b31e8572549d25012f88e9039f198d28dc5cf575
  bench/data.js
Due: copyright

chore: fmt
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: gen zod & ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix: add explicit locale file import
  src/protocol-parser/protocol-parser.ts
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: bump zod v4
  package-lock.json
  package.json
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: bump cddlconv
  .github/workflows/update-bidi-types.yml
Due: none

fix: test
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright

chore: restore image
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
Due: none

chore: fmt
  src/protocol-parser/protocol-parser.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore(main): release chromium-bidi 15.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0c13a56d52d7e17ae136ca56630fe6d25cc91465
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@0c13a56d52d7e17ae136ca56630fe6d25cc91465 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: enable actions on merge queue
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
Due: none

fix puppeteer requirements
  .github/workflows/puppeteer.yml
Due: none

fix
  .github/workflows/puppeteer.yml
Due: none

fix 2
  .github/workflows/puppeteer.yml
Due: none

run perf only after merge or manually
  .github/workflows/performance.yml
Due: none

ci: enable actions on merge queue (#4110)
  .github/workflows/performance.yml
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 5c62071ae19b993fead6cbbb2f20e34dbe50ea6e
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@5c62071ae19b993fead6cbbb2f20e34dbe50ea6e 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/add_preload_script/execution_order_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/add_preload_script/execution_order_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/add_preload_script/execution_order_tentative.py.ini
Due: none

build(chrome): update the pinned browser version to 147.0.7710.0
  .browser
  package-lock.json
  package.json
Due: none
