Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b4f6b85226f2f56a35993a60475fda92b48a66d7 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 12.1.0 (#3954)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8daef3b850a4958c6efa0b78523136a17cf33981
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@8daef3b850a4958c6efa0b78523136a17cf33981 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat(chrome)!: update the pinned browser version to 146.0.7635.0
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 23bf72dba8f6816f97b2ce378b1b7569cb491ab9
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@23bf72dba8f6816f97b2ce378b1b7569cb491ab9 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix build
  package-lock.json
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

chore: increase e2e test timeouts and disable retries for verification
  .github/workflows/e2e.yml
  pytest.ini
  tests/test_helpers.py
Due: copyright

feat(chrome)!: update the pinned browser version to 146.0.7635.0 (#3980)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 5359e36e7419c710672535d59730b3fc8912f65a
  bench/data.js
Due: copyright

chore: enable 5 retries for flaky node runners in e2e tests
  .github/workflows/e2e.yml
Due: none

fix: restore missing run steps in e2e workflow
  .github/workflows/e2e.yml
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@5359e36e7419c710672535d59730b3fc8912f65a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8003476f4dc0a34084c4f0d4341257081262ab50
  bench/data.js
Due: copyright

RERUNS_TIMES: 4
  .github/workflows/e2e.yml
Due: none

ci: increase e2e timeouts (#3983)
  pytest.ini
  tests/test_helpers.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for ccf1f8e60591da6caab4611b98d6a790c4ae7a45
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ccf1f8e60591da6caab4611b98d6a790c4ae7a45 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

test: test with render document
  tests/conftest.py
Due: copyright

Create jxjdjdj
  jxjdjdj
Due: none

Update README.md
  README.md
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9ec33b3e60bdb4bad6c42ebd4042f03aabc17394
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@9ec33b3e60bdb4bad6c42ebd4042f03aabc17394 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 650239f715a2c996973d7a77243b52d1edce9963
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@650239f715a2c996973d7a77243b52d1edce9963 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: extend generated types with `User-Agent Client Hints` specification
  .github/workflows/update-bidi-types.yml
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/protocol.ts
Due: copyright, node-self

chore: extend generated types with `User-Agent Client Hints` spec (#3989)
  .github/workflows/update-bidi-types.yml
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/protocol.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for eb68277f83bdecab83735495df3993aef15bf46c
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@eb68277f83bdecab83735495df3993aef15bf46c 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 146.0.7643.0
  .browser
Due: none

fix: do not expose realms with empty sandbox
  src/bidiMapper/modules/script/WindowRealm.ts
Due: copyright, node-self

feat: implement `emulation.setClientHintsOverride`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_client_hints.py
Due: copyright, node-self

Cache default user agent on start
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
Due: copyright, node-self

keep `.vscode` on clean
  tools/clean.mjs
Due: copyright

revert unnesessary `applySessionConfiguration`
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
Due: copyright, node-self

`get_expected_nerwork_client_hints`
  tests/emulation/test_client_hints.py
Due: copyright

fix
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self

test emulation per user context
  tests/emulation/test_client_hints.py
Due: copyright

simplify
  src/bidiMapper/modules/cdp/CdpTarget.ts
Due: copyright, node-self
