Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

measure node evaluation
  tools/benchmark-puppeteer.mjs
Due: copyright

build(chrome): update the pinned browser version to 147.0.7688.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7689.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 147.0.7689.0 (#4071)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 3bb1e3e68360bb252cfed8f31ad3746570eb7b76
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@3bb1e3e68360bb252cfed8f31ad3746570eb7b76 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d4f851586c04c4dbec857370024e935524f8c37e
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@d4f851586c04c4dbec857370024e935524f8c37e 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/set_viewport/window_open.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/set_viewport/window_open.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9f5297873b899a9c6da50e56eb499a2242466e58
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@9f5297873b899a9c6da50e56eb499a2242466e58 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

use page.evaluateHandle
  tools/benchmark-puppeteer.mjs
Due: copyright

build(chrome): update the pinned browser version to 147.0.7690.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7690.0 (#4076)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1c897df4b83eb008f7ac7be15a158c583585bfc0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@1c897df4b83eb008f7ac7be15a158c583585bfc0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 147.0.7692.0
  .browser
Due: none

build(chrome): update the pinned browser version to 147.0.7692.0 (#4077)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9eddb8eaf4adcd6e4f7bd3ab05a77cddf2cab684
  bench/data.js
Due: copyright

Update WPT expectations
  wpt-metadata/mapper/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 22e91c413d93d99e700c72fa5f18f2f5cef82d69
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@22e91c413d93d99e700c72fa5f18f2f5cef82d69 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

docs: add simple issue templates
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: add simple issue templates (#4079)
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0527f73068f2e91c71d971bbb1f60534e6b58465
  bench/data.js
Due: copyright

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 147.0.7693.0
  .browser
Due: none

build(spec): update WebDriverBiDi types (#4082)
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for effdecdd6a07f2b0fa2e37f1032ea011e1b8d816
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 147.0.7693.0 (#4080)
  .browser
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@effdecdd6a07f2b0fa2e37f1032ea011e1b8d816 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 2e9fe9aea523e216256954085c97e85a286562f1
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@2e9fe9aea523e216256954085c97e85a286562f1 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/locate_nodes/locator.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 2e8b0b0e67e61dd7d8722275775a2b9096b667a0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@2e8b0b0e67e61dd7d8722275775a2b9096b667a0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat: add `userContext` to events
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/context/BrowsingContextProcessor.ts
  src/bidiMapper/modules/context/NavigationTracker.spec.ts
  src/bidiMapper/modules/context/NavigationTracker.ts
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/script/Realm.ts
  src/bidiMapper/modules/script/WindowRealm.ts
  src/bidiMapper/modules/script/WorkerRealm.ts
  tests/browsing_context/__snapshots__/test_navigate_events.ambr
  tests/browsing_context/test_close.py
  tests/browsing_context/test_create.py
  tests/browsing_context/test_dom_content_loaded.py
  tests/browsing_context/test_download.py
  tests/browsing_context/test_fragment_navigated.py
  tests/browsing_context/test_history_updated.py
  tests/browsing_context/test_load.py
  tests/browsing_context/test_navigate.py
  tests/browsing_context/test_navigate_events.py
  tests/browsing_context/test_nested_browsing_context.py
  tests/browsing_context/test_reload.py
  tests/browsing_context/test_user_prompt.py
  tests/input/file_dialog/test_file_dialog_opened.py
  tests/log/test_log_entry_added.py
  tests/network/test_network.py
  tests/script/test_realm.py
Due: copyright, node-self

Refactor Github Action per b/485167538
  .github/actions/setup-chrome-binaries/action.yml
  .github/workflows/wpt.yml
Due: none

build: Refactor Github Action per b/485167538 (#4084)
  .github/actions/setup-chrome-binaries/action.yml
  .github/workflows/wpt.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 299577a6e5664c315e1d1d25627605da1f069e08
  bench/data.js
Due: copyright
