Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b32d15b8f56add8d80657c7fa9a843f12fb3dbe2 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 13.1.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ae8c1535dce31c82aa5c349d95f57d83af427bc7
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ae8c1535dce31c82aa5c349d95f57d83af427bc7 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6697d29d2ed7a1f3a2dc9d5408f74945f1a83a60
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 13.1.1 (#4045)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ad69ce17e67a1b496079bb489a80295c82b60402
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ad69ce17e67a1b496079bb489a80295c82b60402 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0ebc9bee3b3339b297675f509904eb0583606c85
  bench/data.js
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/origin.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/origin.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/origin.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9fb8dab2d5a5901267fb0a0b5f410acbc8667683
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@9fb8dab2d5a5901267fb0a0b5f410acbc8667683 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fifx build
  eslint.config.mjs
  package-lock.json
  package.json
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 7cc2329cc34d8f85dde5d93cf59f30f097b2e25b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@7cc2329cc34d8f85dde5d93cf59f30f097b2e25b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a45e2a9059e24df8c1e5c7be3362130627279447
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a45e2a9059e24df8c1e5c7be3362130627279447 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ebea4348b51d579fc7219413af4519dcf164d825
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ebea4348b51d579fc7219413af4519dcf164d825 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: update `userAgentClientHints` command
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
Due: copyright, node-self

chore: `emulation.setClientHintsOverride` -> `userAgentClientHints.setClientHintsOverride`
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: `emulation.setClientHintsOverride` -> `userAgentClientHints.setClientHintsOverride`
  tests/emulation/test_client_hints.py
Due: copyright

build(chrome): update the pinned browser version to 146.0.7680.0
  .browser
  package-lock.json
  package.json
  tools/update_chrome_revision.mjs
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
Due: none

fix build
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
Due: copyright, node-self

chore: `emulation.setClientHintsOverride` -> `userAgentClientHints.setClientHintsOverride` (#4053)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  tests/emulation/test_client_hints.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 07120fb92d6e0b333b7d4b87dfc5fca8444e062a
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@07120fb92d6e0b333b7d4b87dfc5fca8444e062a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: none

build(chrome): update the pinned browser version to 146.0.7680.0 (#4054)
  .browser
  package-lock.json
  package.json
  src/bidiMapper/modules/network/NetworkModuleMocks.spec.ts
  tools/update_chrome_revision.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py.ini
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 8abff4eb54fd8f2cc7640f536a2e674c9e9aedea
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 146.0.7680.2
  .browser
Due: none

Remove outdated WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ed9e7d48460aaa32f8721ec40e32c14b0db4c893
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for a6e4147083b371ea4658c5ca71e40073ca154cd4
  bench/data.js
Due: copyright

feat!: `emulation.setClientHintsOverride` -> `userAgentClientHints.setClientHintsOverride` (#4053)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  tests/emulation/test_client_hints.py
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/client_hints.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/global.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/external/emulation/set_client_hints_override/user_contexts.py.ini
Due: copyright, node-self

build(chrome): update the pinned browser version to 146.0.7680.2 (#4055)
  .browser
Due: none

chore(main): release chromium-bidi 14.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 53a473941e3124b6bba2441830463896a0589a21
  bench/data.js
Due: copyright

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
