Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

build(chrome): update the pinned browser version to 146.0.7648.0
  .browser
Due: none

build(chrome): update the pinned browser version to 146.0.7648.0 (#3997)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6ebf07e46d7868b2625b73e7cc3fd4b335fd2102
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6ebf07e46d7868b2625b73e7cc3fd4b335fd2102 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6ae7d8b127cd30367fe1d2330f1efaac10070f21
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6ae7d8b127cd30367fe1d2330f1efaac10070f21 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

restore e2e perf + renames
  .github/workflows/perf-e2e.yml
  .github/workflows/perf-pup.yml
  README.md
  tools/perf-pup.mjs
Due: copyright

wip
  .github/workflows/perf-pup.yml
  .github/workflows/performance.yml
  README.md
Due: none

remove prefix
  .github/workflows/performance.yml
Due: none

units
  .github/workflows/performance.yml
Due: none

rename script
  .github/workflows/performance.yml
  README.md
  tools/benchmark-puppeteer.mjs
Due: copyright

fixes
  tools/benchmark-puppeteer.mjs
Due: copyright

build(chrome): update the pinned browser version to 146.0.7651.0
  .browser
  package-lock.json
  package.json
Due: none

ci: measure perf via Puppeteer (#4002)
  .github/workflows/performance.yml
  README.md
  tools/benchmark-puppeteer.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for cf40cb73ab3b5d488d7633c95145c072f9b8129b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@cf40cb73ab3b5d488d7633c95145c072f9b8129b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: improve Puppeteer benchmark
  tools/benchmark-puppeteer.mjs
Due: copyright

fix puppeteer version
  .github/workflows/performance.yml
  README.md
  tools/benchmark-puppeteer.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 00824d012306d18521ec4cdd3ce0374420f90298
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@00824d012306d18521ec4cdd3ce0374420f90298 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 146.0.7651.0 (#4001)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c6fd781af80c44ccfef13bdd4fc861b07331490a
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c6fd781af80c44ccfef13bdd4fc861b07331490a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Refactor: rename metrics
  tools/benchmark-puppeteer.mjs
Due: copyright

use headless shell
  tools/benchmark-puppeteer.mjs
Due: copyright

change metrics
  .github/workflows/performance.yml
  tools/benchmark-puppeteer.mjs
Due: copyright

cat tests_output.txt
  .github/workflows/performance.yml
Due: none

Improvements
  .gitignore
  bench/index.html
Due: none

wip
  .github/workflows/performance.yml
Due: none

use shell binary
  tools/path-getter/path-getter.mjs
Due: copyright

use new headless
  tools/benchmark-puppeteer.mjs
Due: copyright

qwe
  tools/benchmark-puppeteer.mjs
  tools/path-getter/path-getter.mjs
Due: copyright

page.setContent
  tools/benchmark-puppeteer.mjs
Due: copyright

ci: improve Puppeteer benchmark (#4004)
  .github/workflows/performance.yml
  README.md
  tools/benchmark-puppeteer.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 4023992138ede054fed365e7a2963727e93ffc4b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4023992138ede054fed365e7a2963727e93ffc4b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 545e70cfd4816e38386dc8bfe93cc88e66ce6f17
  bench/data.js
Due: copyright

fix: handle uncaught exceptions in close method
  src/bidiMapper/modules/browser/BrowserProcessor.ts
Due: copyright, node-self

Apply suggestion from @OrKoN
  src/bidiMapper/modules/browser/BrowserProcessor.ts
Due: copyright, node-self

fix: handle uncaught exceptions in close method (#4005)
  src/bidiMapper/modules/browser/BrowserProcessor.ts
Due: copyright, node-self
