Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

build(chrome): update the pinned browser version to 144.0.7529.0
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ee07939cb6c32644c7f3b68584b30f8f1dbae023
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 144.0.7529.0 (#3917)
  .browser
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ee07939cb6c32644c7f3b68584b30f8f1dbae023 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1a9848ae3a821d5a45b4de22182c2d2a3bc4710a
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@1a9848ae3a821d5a45b4de22182c2d2a3bc4710a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7530.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 144.0.7530.0 (#3919)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for cf6cca2634406dc3efec70bda7b555ae0ba0bb1d
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@cf6cca2634406dc3efec70bda7b555ae0ba0bb1d 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7531.0
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7531.0 (#3921)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a2bfd114e4a9f6230729c6766e98bdfb42e0378f
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a2bfd114e4a9f6230729c6766e98bdfb42e0378f 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6acb1530b5ecfaa8a48d66f0569a12388986627c
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6acb1530b5ecfaa8a48d66f0569a12388986627c 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7533.2
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 144.0.7533.2 (#3922)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4f26b0cf56b9ae0aad731cd89d036b2ce9b8f88b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4f26b0cf56b9ae0aad731cd89d036b2ce9b8f88b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

fix build
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#3923)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/modules/session/SessionProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for a5ed6831dd73cd2cbfbed8b8ac42151ec9f1fe92
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@a5ed6831dd73cd2cbfbed8b8ac42151ec9f1fe92 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7535.0
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7545.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 144.0.7543.0 (#3924)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8bb5b36dc6eaf0591488620d9dde5c5f4815bc86
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@8bb5b36dc6eaf0591488620d9dde5c5f4815bc86 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7548.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 144.0.7548.0 (#3925)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 5d8a8fa20c34c836cb062559e2abae7cf9c5cce6
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@5d8a8fa20c34c836cb062559e2abae7cf9c5cce6 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: allow manual dispatch for puppeteer workflow
  .github/workflows/puppeteer.yml
Due: none

run on merge to main as well
  .github/workflows/puppeteer.yml
Due: none

ci: allow manual dispatch for puppeteer workflow (#3926)
  .github/workflows/puppeteer.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4c030a44bcaff1fe5cb37ce78188c8fec1d9d067
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4c030a44bcaff1fe5cb37ce78188c8fec1d9d067 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7553.0
  .browser
  package-lock.json
  package.json
Due: none

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
