Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

build(chrome): update the pinned browser version to 144.0.7553.0 (#3927)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1dc2dacd469e113044dfefd15a228edcdd65ff96
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@1dc2dacd469e113044dfefd15a228edcdd65ff96 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7557.0
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7557.0 (#3928)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6b86d7970c7dbc6a881668222a048048951ab2a4
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6b86d7970c7dbc6a881668222a048048951ab2a4 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7559.0
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7559.0 (#3930)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9561589d323bb779643da5ac422c6733fb84c7b9
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@9561589d323bb779643da5ac422c6733fb84c7b9 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7559.3
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7559.3 (#3931)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 169c580e33fa95e21704cc6a5186ffa93cdd85f0
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@169c580e33fa95e21704cc6a5186ffa93cdd85f0 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 144.0.7559.12
  .browser
Due: none

build(chrome): update the pinned browser version to 144.0.7559.12 (#3932)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6420689fe00c4d006360d840e0193f9e6985b91f
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6420689fe00c4d006360d840e0193f9e6985b91f 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

sync Pipfile.lock
  Pipfile
  Pipfile.lock
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 95c691f0b78a67437a961ee8817b9883231ac1cf
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@95c691f0b78a67437a961ee8817b9883231ac1cf 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat(chrome)!: update the pinned browser version to 145.0.7563.0
  .browser
Due: none

feat(chrome)!: update the pinned browser version to 145.0.7563.0 (#3933)
  .browser
Due: none

chore(main): release chromium-bidi 12.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for dfd6104b14ca47efce0e9f1f75e4c0445fa6a3d5
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@dfd6104b14ca47efce0e9f1f75e4c0445fa6a3d5 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 145.0.7565.0
  .browser
Due: none

build(chrome): update the pinned browser version to 145.0.7569.0
  .browser
Due: none

build(chrome): update the pinned browser version to 145.0.7569.0 (#3935)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 96a4ad3c84ec3b1444fef2d396d05b69a695bda5
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@96a4ad3c84ec3b1444fef2d396d05b69a695bda5 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: round cookie expiry field
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

fix: round cookie expiry field (#3938)
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 66c46958fa9f8ebe15d119a42b7a8dc9427f18dd
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@66c46958fa9f8ebe15d119a42b7a8dc9427f18dd 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: extra headers can have duplicates
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

fix: extra headers can have duplicates (#3937)
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

Revert "fix: extra headers can have duplicates (#3937)"
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for aabd7831255a90b01afcc59c40992cc0c3e7cdbe
  bench/data.js
Due: copyright
