Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@b18a03378706c611c1ff3c4d9a94a79e8dc2ce93 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b18a03378706c611c1ff3c4d9a94a79e8dc2ce93
  bench/data.js
Due: copyright

ci: measure selenium performance
  tools/benchmark-selenium.mjs
Due: copyright

configure stats file
  .github/workflows/performance.yml
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
Due: copyright

refactor
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/benchmark-utils.mjs
Due: copyright

inline e2e with the new metric publications
  .github/workflows/performance.yml
  tests/performance/test_performance.py
Due: copyright

provide OS
  .github/workflows/performance.yml
Due: none

WIP
  .github/workflows/performance.yml
  tools/benchmark-selenium.mjs
Due: copyright

increase macos runs
  .github/workflows/performance.yml
Due: none

feat: implement `browser.setClientWindowState`
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_set_client_window_state.py
  tests/conftest.py
Due: copyright, node-self

format
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_set_client_window_state.py
Due: copyright, node-self

cleanup
  src/bidiMapper/modules/browser/BrowserProcessor.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 146.0.7656.0
  .browser
  package-lock.json
  package.json
Due: none

update test
  tests/browser/test_set_client_window_state.py
Due: copyright

update constants
  tests/browser/test_set_client_window_state.py
Due: copyright

feat: implement `browser.setClientWindowState` (#4031)
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/BrowserProcessor.ts
  tests/browser/test_set_client_window_state.py
  tests/conftest.py
Due: copyright, node-self

chore(main): release chromium-bidi 13.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8b284eeb6ac270489056b3d4885e5f393a21acfd
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@8b284eeb6ac270489056b3d4885e5f393a21acfd 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 13.1.0 (#4006)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@e8e7a796657c79de766a2f95ea4ad795bf50598d 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@e8e7a796657c79de766a2f95ea4ad795bf50598d 🚀
  wpt/index.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@638b36f74275a136e74bc4722dd053bd55a56a41 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix e2e name + reduce macos e2e runners
  .github/workflows/performance.yml
  tests/performance/test_performance.py
Due: copyright

fixes
  .github/workflows/performance.yml
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/benchmark-utils.mjs
Due: copyright

pup -> puppeteer
  tools/benchmark-puppeteer.mjs
Due: copyright

wip
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/benchmark-utils.mjs
Due: copyright

parse int in e2e
  tests/performance/test_performance.py
Due: copyright

ci: measure chromedriver+selenium performance (#4028)
  .github/workflows/performance.yml
  tests/performance/test_performance.py
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/benchmark-utils.mjs
Due: copyright

pup -> puppeteer
  bench/data.js
  bench/index.html
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for dd46fa92932cfa93b1739ab028ec88d33e6ffe6d
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@dd46fa92932cfa93b1739ab028ec88d33e6ffe6d 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@dd46fa92932cfa93b1739ab028ec88d33e6ffe6d 🚀
  bench/index.html
Due: none

clean up unrelated data
  bench/data.js
Due: copyright

ci: fix e2e perf metric name
  .github/workflows/performance.yml
  tests/performance/test_performance.py
Due: copyright

exclude headful ubuntu
  .github/workflows/performance.yml
Due: none

deprecate headful ubuntu e2e
  bench/data.js
Due: copyright

fix name
  .github/workflows/performance.yml
  tests/performance/test_performance.py
Due: copyright

rename
  .github/workflows/performance.yml
Due: none

reduce pup perf
  .github/workflows/performance.yml
Due: none
