Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4d8c78331aa38a41eea84f304345ee1bd210aa44 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@141220ad98e75d2e8531ff73655cf78dc7308dab 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7581c8949f8835efe440da63039b1e9a847ce80b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@7581c8949f8835efe440da63039b1e9a847ce80b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 148.0.7774.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 148.0.7778.2
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 148.0.7778.2 (#4127)
  .browser
  package-lock.json
  package.json
Due: none

chore(main): release chromium-bidi 16.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 20b9c2a6f6c152ea9f9d55d43fda2eed3b90f8b1
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 83773b3a2c51b8951cd08922ab7470f2746c577c
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@83773b3a2c51b8951cd08922ab7470f2746c577c 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

feat(chrome)!: update the pinned browser version to 149.0.7787.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 149.0.7790.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 149.0.7790.0 (#4128)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 71b2e2098d2d79a5f7a06480e390c9d7b8dd008f
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c5e2e7a8685d985f0ab7f46f1cb69001095187cd
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 149.0.7796.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 149.0.7796.0 (#4134)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6f84e5ec7785aef1bcc531a5eba63798aab02b4b
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@6f84e5ec7785aef1bcc531a5eba63798aab02b4b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 85efabab261aa319c2b0d5f8a221dbab7f3e87e7
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 4e681d648e3e43055c34e0aa5a1626bbb55c7bfe
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 149.0.7800.0
  .browser
  package-lock.json
  package.json
Due: none

test: remove outdated extension test
  tests/webExtension/test_web_extension.py
Due: copyright

test: remove outdated extension test (#4137)
  tests/webExtension/test_web_extension.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 552b24c63f313fb4abe96ec42c4282d5b4ec7004
  bench/data.js
Due: copyright

feat: switch to URLPattern
  .nvmrc
  package-lock.json
  package.json
  src/bidiMapper/modules/network/NetworkProcessor.spec.ts
  src/bidiMapper/modules/network/NetworkProcessor.ts
  src/bidiMapper/modules/network/NetworkUtils.spec.ts
  src/bidiMapper/modules/network/NetworkUtils.ts
Due: copyright, node-self

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/continue_request/url.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/provide_response/headers.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/continue_request/url.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/provide_response/headers.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/add_intercept/url_patterns.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/continue_request/url.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/provide_response/headers.py.ini
Due: none

build(chrome): update the pinned browser version to 149.0.7811.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 149.0.7812.0
  .browser
  package-lock.json
  package.json
Due: none

chore: fmt
  src/protocol-parser/protocol-parser.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

fix: test
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright

chore: restore image
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
Due: none

chore: bump cddlconv
  .github/workflows/update-bidi-types.yml
Due: none
