Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

add Benchmark (customSmallerIsBetter) benchmark result for 4edc2b3af5c9e35c8961081ae6b5410ca156ab5c
  bench/data.js
Due: copyright

build: fix gn
  .gn
Due: none

feat(chrome)!: update the pinned browser version to 151.0.7888.0
  .browser
  package-lock.json
  package.json
Due: none

build: fix wpt runs
  .github/workflows/wpt.yml
Due: none

build: fix wpt runs (#4179)
  .github/workflows/wpt.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 69fbc098d96184769ef1481d78e5b700f7449732
  bench/data.js
Due: copyright

chore: update expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

build: add a tool to apply wpt metadata updates locally
  tools/apply-wpt-expectations.mjs
Due: copyright

feat(chrome)!: update the pinned browser version to 151.0.7888.0 (#4174)
  .browser
  .gn
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b66d6bae722b9af50be4d880c5b65944c938a08c
  bench/data.js
Due: copyright

build: add a tool to apply wpt metadata updates locally (#4180)
  tools/apply-wpt-expectations.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 173bde2b6950c803e49d4c0557411c159d3f71e8
  bench/data.js
Due: copyright

build: fix deps
  .github/workflows/wpt.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d5a569452db8c03023fe92b0b4f25871f87d281f
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 151.0.7895.0
  .browser
  package-lock.json
  package.json
Due: none

chore: update tests
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

build(chrome): update the pinned browser version to 151.0.7895.0 (#4182)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/input/perform_actions/key_events.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e7d3112979eddd8c10a8a4b73c6467ee9f401e68
  bench/data.js
Due: copyright

build: use relative paths in gn
  BUILD.gn
  src/BUILD.gn
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/build/ts_library.gni
Due: copyright

build: use relative paths in gn (#4185)
  BUILD.gn
  src/BUILD.gn
  tools/build/bidi_module.gni
  tools/build/scripts/compile_ts.py
  tools/build/ts_library.gni
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 896c609816e9b59efa78a4d35028a9a5e0b6bd5d
  bench/data.js
Due: copyright

test: fix missing unit tests
  package.json
Due: none

build: move mapper tab to be within gen dir
  .github/workflows/unit.yml
  rollup.config.mjs
  src/BUILD.gn
  src/bidiServer/reader.ts
  tools/bidi-server.mjs
  tools/path-getter/path-getter.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

test: fix missing unit tests (#4187)
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a10f2185338e05a5a240f6eb3fef6d8e8fe060c7
  bench/data.js
Due: copyright

Fixes
  package-lock.json
  package.json
  src/bidiMapper/modules/browser/BrowserProcessot.test.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.test.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.test.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.test.ts
  src/bidiMapper/modules/log/logHelper.test.ts
  src/bidiMapper/modules/network/NetworkProcessor.test.ts
  src/bidiMapper/modules/network/NetworkStorage.test.ts
  src/bidiMapper/modules/network/NetworkUtils.test.ts
  src/bidiMapper/modules/script/PreloadScriptStorage.test.ts
  src/bidiMapper/modules/script/SharedId.test.ts
  src/bidiMapper/modules/session/SubscriptionManager.test.ts
  src/bidiMapper/modules/session/events.test.ts
  src/cdp/CdpClient.test.ts
  src/cdp/CdpConnection.test.ts
  src/protocol/ErrorResponse.test.ts
  src/utils/Buffer.test.ts
  src/utils/DefaultMap.test.ts
  src/utils/Deferred.test.ts
  src/utils/EventEmitter.test.ts
  src/utils/IdWrapper.test.ts
  src/utils/Mutex.test.ts
  src/utils/ProcessingQueue.test.ts
  src/utils/assert.test.ts
  src/utils/base64.test.ts
  src/utils/graphemeTools.test.ts
  src/utils/time.test.ts
  src/utils/unitConversions.test.ts
  src/utils/urlHelpers.test.ts
  src/utils/uuid.test.ts
Due: copyright, node-self

fix
  package-lock.json
Due: none

test: use assert style instead of expect (#4183)
  package-lock.json
  package.json
  src/bidiMapper/modules/browser/BrowserProcessot.test.ts
  src/bidiMapper/modules/browser/ContextConfigStorage.test.ts
  src/bidiMapper/modules/context/BrowsingContextStorage.test.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.test.ts
  src/bidiMapper/modules/log/logHelper.test.ts
  src/bidiMapper/modules/network/NetworkProcessor.test.ts
  src/bidiMapper/modules/network/NetworkStorage.test.ts
  src/bidiMapper/modules/network/NetworkUtils.test.ts
  src/bidiMapper/modules/script/PreloadScriptStorage.test.ts
  src/bidiMapper/modules/script/SharedId.test.ts
  src/bidiMapper/modules/session/SubscriptionManager.test.ts
  src/bidiMapper/modules/session/events.test.ts
  src/cdp/CdpClient.test.ts
  src/cdp/CdpConnection.test.ts
  src/protocol/ErrorResponse.test.ts
  src/utils/Buffer.test.ts
  src/utils/DefaultMap.test.ts
  src/utils/Deferred.test.ts
  src/utils/EventEmitter.test.ts
  src/utils/IdWrapper.test.ts
  src/utils/Mutex.test.ts
  src/utils/ProcessingQueue.test.ts
  src/utils/assert.test.ts
  src/utils/base64.test.ts
  src/utils/graphemeTools.test.ts
  src/utils/time.test.ts
  src/utils/unitConversions.test.ts
  src/utils/urlHelpers.test.ts
  src/utils/uuid.test.ts
Due: copyright, node-self

build: move mapper tab to be within gen dir (#4186)
  .github/workflows/unit.yml
  rollup.config.mjs
  src/BUILD.gn
  src/bidiServer/reader.ts
  tools/bidi-server.mjs
  tools/path-getter/path-getter.mjs
  tools/run-wpt.mjs
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 1493fa9b45262ab8ed0fc1d904cda9b269c9e7c3
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 77e03066f86843aed0bdfcf1dcc8a83c44fc9630
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 9508fd153bdf1abfe16bfa560db65cdae786dca3
  bench/data.js
Due: copyright

build: add rdb reporter for unit tests
  package.json
  src/bidiMapper/modules/emulation/EmulationProcessor.test.ts
  tools/unit-resultsink-reporter.mjs
Due: copyright, node-self

build: add rdb reporter for unit tests (#4189)
  package.json
  src/bidiMapper/modules/emulation/EmulationProcessor.test.ts
  tools/unit-resultsink-reporter.mjs
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for cb527148aa3af1ab3f2bb61a4a3207217d6eff9a
  bench/data.js
Due: copyright

Use correct project name in issue template
  .github/ISSUE_TEMPLATE/01-bug.yml
Due: none

build: download node_modules
  DEPS
  tools/update_node_modules.mjs
Due: copyright

build: add rdb reporter to e2e
  package.json
  tests/conftest.py
  tests/resultsink_reporter.py
Due: copyright

chore: use correct project name in issue template (#4190)
  .github/ISSUE_TEMPLATE/01-bug.yml
Due: none
