Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@0ec7b8986e8f66d3f8b0683ecd6a899b5da77167 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 145.0.7616.0 (#3963)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for ba90d4054e0d37d5e05072e2ccfb9e6544883f64
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@ba90d4054e0d37d5e05072e2ccfb9e6544883f64 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 12.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for bef9fa7cdd34d22cee4483e1857c58da9eed8df6
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@bef9fa7cdd34d22cee4483e1857c58da9eed8df6 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: remove sameParty Cookie attribute
  src/bidiMapper/modules/network/NetworkUtils.ts
  tests/storage/test_get_cookies.py
  tests/storage/test_set_cookies.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 145.0.7626.0
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for da04783b47c164319f92ab946692a4a526f53c4c
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@da04783b47c164319f92ab946692a4a526f53c4c 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: verbose logging of e2e tests on merge to main for diagnostic
  .github/workflows/e2e.yml
Due: none

build(chrome): update the pinned browser version to 145.0.7630.0
  .browser
  package-lock.json
  package.json
Due: none

ci: verbose logging of e2e tests on merge to main for diagnostic (#3973)
  .github/workflows/e2e.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8ed35c7dcf787baa074d52f33991175f2bac0f50
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@8ed35c7dcf787baa074d52f33991175f2bac0f50 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 145.0.7629.0 (#3968)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fcdaaed7258d9dcc9b5c5e8d918b53aadfbbbc51
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@fcdaaed7258d9dcc9b5c5e8d918b53aadfbbbc51 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

ci: update perf tests
  .github/workflows/performance.yml
  Pipfile
  package.json
  tests/performance/test_performance.py
  tools/benchmark.py
Due: copyright

fix
  .github/workflows/performance.yml
  tools/benchmark.py
Due: copyright

run perf only with cd
  .github/workflows/performance.yml
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/emulation/set_screen_orientation_override/user_contexts.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/emulation/set_screen_orientation_override/user_contexts.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/emulation/set_screen_orientation_override/user_contexts.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 430c766155d341bc6863d25e97ed683fea5f3d33
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@430c766155d341bc6863d25e97ed683fea5f3d33 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore: update pre-commit
  .pre-commit-config.yaml
  tests/browsing_context/test_download.py
  tests/conftest.py
  tests/emulation/test_netowrk_conditions.py
  tests/emulation/test_scripting_enabled.py
  tests/emulation/test_user_agent.py
  tests/network/test_data_collectors.py
  tests/network/test_set_extra_headers.py
  tests/test_helpers.py
  tests/tools/http_proxy_server.py
  tests/tools/local_http_server.py
Due: copyright

chore: update pre-commit (#3976)
  .pre-commit-config.yaml
  tests/browsing_context/test_download.py
  tests/conftest.py
  tests/emulation/test_netowrk_conditions.py
  tests/emulation/test_scripting_enabled.py
  tests/emulation/test_user_agent.py
  tests/network/test_data_collectors.py
  tests/network/test_set_extra_headers.py
  tests/test_helpers.py
  tests/tools/http_proxy_server.py
  tests/tools/local_http_server.py
Due: copyright

revert precommit
  .pre-commit-config.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for be17d685b951fdca544ef9bb0b06dc9fa41e8972
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@be17d685b951fdca544ef9bb0b06dc9fa41e8972 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 145.0.7632.0
  .browser
Due: none

fix: respect scroll offset in screenshot
  .pre-commit-config.yaml
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  tests/browsing_context/capture_screenshot/test_capture_screenshot.py
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for d28fd47e85d50b0d4b051ebdee675ef26da02a8f
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@d28fd47e85d50b0d4b051ebdee675ef26da02a8f 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py.ini
Due: none

build(chrome): update the pinned browser version to 145.0.7632.0 (#3977)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e2436a226ba801aec7be69616864603e269a5a0e
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@e2436a226ba801aec7be69616864603e269a5a0e 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b4f6b85226f2f56a35993a60475fda92b48a66d7
  bench/data.js
Due: copyright

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
