Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

chore: fmt
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

fix: add explicit locale file import
  src/protocol-parser/protocol-parser.ts
  tests/browsing_context/capture_screenshot/gradient_with_alpha_channel.png
  tests/browsing_context/capture_screenshot/gradient_without_alpha_channel.png
  tests/network/test_add_intercept.py
  tests/network/test_continue_response.py
  tests/network/test_provide_response.py
Due: copyright, node-self

chore: bump zod v4
  package-lock.json
  package.json
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

chore: gen zod & ts
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

chore(main): release chromium-bidi 16.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 2ce58b9e93a12d0a3c8f2b8774e6782dc8ce65b9
  bench/data.js
Due: copyright

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
Due: none

build(chrome): update the pinned browser version to 149.0.7812.0 (#4139)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/network/set_extra_headers/headers_name_standard_tentative.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1bb51bac21010dc4ea181c2d366e08b25540b9fe
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@1bb51bac21010dc4ea181c2d366e08b25540b9fe 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(spec): update WebDriverBiDi types
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 149.0.7824.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 149.0.7826.0
  .browser
  package-lock.json
  package.json
Due: none

Update WPT expectations
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

build(chrome): update the pinned browser version to 149.0.7826.0 (#4141)
  .browser
  package-lock.json
  package.json
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/background.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/create/type.py.ini
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fd2531f1077d174eb82720c0678eebb84a1f11d1
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 4f9cb3f1127c9ea0aebc576180a0ea6f0759ff1b
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for cbbc4b0e696f065c7f2474e7511d48d2de364bca
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@4f9cb3f1127c9ea0aebc576180a0ea6f0759ff1b 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

remove
  eslint.config.mjs
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
Due: copyright

rebase
  .github/workflows/pre-commit.yml
  .mocharc.cjs
  .vscode/launch.template.json
  GEMINI.md
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/reader.ts
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tsconfig.cjs.json
Due: copyright, node-self

feat!: export only ESM (#4144)
  .github/workflows/pre-commit.yml
  .mocharc.cjs
  .vscode/launch.template.json
  GEMINI.md
  eslint.config.mjs
  package-lock.json
  package.json
  rollup.config.mjs
  src/bidiMapper/tsconfig.cjs.json
  src/bidiMapper/tsconfig.json
  src/bidiServer/reader.ts
  src/bidiServer/tsconfig.json
  src/bidiTab/tsconfig.cjs.json
  src/bidiTab/tsconfig.json
  src/cdp/tsconfig.cjs.json
  src/cdp/tsconfig.json
  src/protocol-parser/tsconfig.cjs.json
  src/protocol-parser/tsconfig.json
  src/protocol/tsconfig.cjs.json
  src/protocol/tsconfig.json
  src/tsconfig.cjs.json
  src/tsconfig.json
  src/utils/tsconfig.cjs.json
  src/utils/tsconfig.json
  tools/bidi-server.mjs
  tools/generate-module-package-json.mjs
  tools/wpt-report-builder/builder.mjs
  tools/wpt-report-builder/formatter.mjs
  tsconfig.cjs.json
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 7800efe3bdcafe01b45a58e51f33920246810936
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@7800efe3bdcafe01b45a58e51f33920246810936 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix types
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

format
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/protocol-parser.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types (#4145)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for f2bed82c2f49c6bbfb2bc500700991813ac9139e
  bench/data.js
Due: copyright

chore(main): release chromium-bidi 16.0.0 (#4104)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 41670ac661e9434a89dd95727a5bb287400bc138
  bench/data.js
Due: copyright

chore: bump local NodeJS to v24
  .nvmrc
Due: none

fix
  .github/workflows/publish.yml
Due: none

fix: bump local NodeJS to v24 (#4146)
  .github/workflows/publish.yml
  .nvmrc
Due: none

chore(main): release chromium-bidi 16.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c438fb83587f6b3849801015cd5d72de159418f4
  bench/data.js
Due: copyright

fix
  src/bidiMapper/modules/network/NetworkRequest.ts
Due: copyright, node-self

fix
  src/bidiMapper/modules/network/NetworkRequest.ts
  src/bidiMapper/modules/network/NetworkStorage.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
