Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

extend fields
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/emulation/test_client_hints.py
Due: copyright, node-self

fix: do not expose realms with empty sandbox
  src/bidiMapper/modules/script/Realm.ts
Due: copyright, node-self

ignore internal isolated realms
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/script/WindowRealm.ts
Due: copyright, node-self

build(chrome): update the pinned browser version to 146.0.7643.0 (#3984)
  .browser
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/script/Realm.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 178a007f36fa26c4bff122a8ef1ab7dc1f7d66c3
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@178a007f36fa26c4bff122a8ef1ab7dc1f7d66c3 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 146.0.7644.0
  .browser
Due: none

Update tests/emulation/test_client_hints.py
  tests/emulation/test_client_hints.py
Due: copyright

feat: implement `emulation.setClientHintsOverride` (#3990)
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/context/BrowsingContextImpl.ts
  src/bidiMapper/modules/emulation/EmulationProcessor.ts
  tests/emulation/test_client_hints.py
  tools/clean.mjs
Due: copyright, node-self

chore(main): release chromium-bidi 13.0.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for de084cb55cbfdcaad7c774086c430b261b1bc0a1
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@de084cb55cbfdcaad7c774086c430b261b1bc0a1 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for f9f98f596b0746a1563396ae0f8d0a43200ae77d
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@f9f98f596b0746a1563396ae0f8d0a43200ae77d 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 13.0.0 (#3982)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c2c6a443bfb6b84601dd42602e67b36c46bb7970
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c2c6a443bfb6b84601dd42602e67b36c46bb7970 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c2c6a443bfb6b84601dd42602e67b36c46bb7970 🚀
  wpt/index.html
Due: none

build(chrome): update the pinned browser version to 146.0.7644.0 (#3991)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c501b191860f5500b6857a48d3da8fd142208b98
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c501b191860f5500b6857a48d3da8fd142208b98 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 146.0.7645.0
  .browser
Due: none

build(chrome): update the pinned browser version to 146.0.7645.0 (#3993)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 3f40c5da04582200024f39f10185108bdb88f7dd
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@3f40c5da04582200024f39f10185108bdb88f7dd 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: emulate `navigator.platform` together with ch-ua
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/emulation/test_client_hints.py
Due: copyright, node-self

build(chrome): update the pinned browser version to 146.0.7646.0
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 563d77e3fa66ddcbb720018c36a1b9c933bfe19c
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@563d77e3fa66ddcbb720018c36a1b9c933bfe19c 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

build(chrome): update the pinned browser version to 146.0.7646.0 (#3995)
  .browser
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 781949a4a63ec435a3fb145cb37385639fe98f8a
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@781949a4a63ec435a3fb145cb37385639fe98f8a 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

fix: emulate `navigator.platform` based on CH-UA (#3994)
  src/bidiMapper/modules/cdp/CdpTarget.ts
  tests/emulation/test_client_hints.py
Due: copyright, node-self

chore(main): release chromium-bidi 13.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c03ccf450c6eeed01dcd6e5bb167736f1645fefe
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@c03ccf450c6eeed01dcd6e5bb167736f1645fefe 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none

chore(main): release chromium-bidi 13.0.1 (#3998)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7dc2fd7249de821e95fb03ba1007d1f08a0e3fc1
  bench/data.js
Due: copyright

Deploying to gh-pages from @ GoogleChromeLabs/chromium-bidi@7dc2fd7249de821e95fb03ba1007d1f08a0e3fc1 🚀
  wpt/index.html
  wpt/wptreport-2023.html
Due: none
