Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

copyright:
  name: check copyright
  entry: '.* Copyright [0-9]+ Google LLC.
  
    .* Copyright \(c\) Microsoft Corporation.
  
    .*
  
    .* Licensed under the Apache License, Version 2.0 \(the "License"\);
  
    .* you may not use this file except in compliance with the License.
  
  ...

node-self:
  name: check nodejs `self.`
  entry: \bself\.
  language: pygrep

add Benchmark (customSmallerIsBetter) benchmark result for 0c6679090e503a50d05320b67a6a96da5bf19a97
  bench/data.js
Due: copyright

build: add rdb reporter to e2e (#4193)
  package.json
  tests/conftest.py
  tests/resultsink_reporter.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 83d07d0170b9061f5ec3b1ea281198aea111e593
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 02fa414bbc08e199a33caefb2e99583d8f8dc381
  bench/data.js
Due: copyright

feat(chrome)!: update the pinned browser version to 152.0.7923.0
  .browser
  package-lock.json
  package.json
Due: none

feat(chrome)!: update the pinned browser version to 152.0.7923.0 (#4194)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fededde179302dcfe28417ce70c393961c5dba00
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 673d824c4e6a08c4ce8fdc301e156da1588b9a9b
  bench/data.js
Due: copyright

build(chrome): update the pinned browser version to 152.0.7927.0
  .browser
  package-lock.json
  package.json
Due: none

build(chrome): update the pinned browser version to 152.0.7927.0 (#4197)
  .browser
  package-lock.json
  package.json
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6db8e0f4aac820231197fbfb44f31e8a289e929d
  bench/data.js
Due: copyright

build: create a node wrapper
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
  package.json
  tests/tools/http_proxy_server.py
  tools/apply-wpt-expectations.mjs
  tools/build/scripts/compile_ts.py
  tools/build/scripts/rollup.py
  tools/create-release.sh
  tools/node.py
  tools/path-getter/path-getter.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c8b1770ec5b4fd2e29df911d0ec7234f59cd6b6f
  bench/data.js
Due: copyright

build: create a node wrapper (#4198)
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/puppeteer.yml
  .github/workflows/wpt.yml
  package.json
  tests/tools/http_proxy_server.py
  tools/apply-wpt-expectations.mjs
  tools/build/scripts/compile_ts.py
  tools/build/scripts/rollup.py
  tools/create-release.sh
  tools/node.py
  tools/path-getter/path-getter.mjs
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c05bc8939edd4d5211e500c5773ae22ce8a44166
  bench/data.js
Due: copyright

build(spec): update WebDriverBiDi types and add screencast command stubs
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.test.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
Due: copyright, node-self

test: update expectations
  tools/run-wpt.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
Due: copyright

build(spec): update WebDriverBiDi types and add screencast command stubs (#4201)
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/ErrorResponse.test.ts
  src/protocol/ErrorResponse.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/run-wpt.mjs
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headful/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/chromedriver/headless/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/start_screencast/invalid.py.ini
  wpt-metadata/mapper/headless/webdriver/tests/bidi/browsing_context/stop_screencast/invalid.py.ini
Due: copyright, node-self

refactor: remove inheritance from digital credentials behavior
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

style: remove extra empty lines in CdpTargetManager
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
Due: copyright, node-self

build(spec): update WebDriverBiDi types
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
Due: copyright, node-self

feat: implement digitalCredentials.setVirtualWalletBehavior
  src/BUILD.gn
  src/bidiMapper/BidiNoOpParser.ts
  src/bidiMapper/BidiParser.ts
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/protocol-parser.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright, node-self

fix: resolve lint and formatting issues
  src/bidiMapper/CommandProcessor.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/bidiTab/BidiParser.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright, node-self

refactor: apply digital credentials behavior during CdpTarget unblock
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

test: mark digital credentials E2E tests as xfail
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright

feat: limit digital credentials to top-level contexts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

fix: resolve lint errors and revert accidental indentation
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

chore: update bidi types script and simplify digital credentials
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  tools/update-bidi-types.sh
Due: copyright, node-self

fix: address reviewer comments on digital credentials
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright, node-self

refactor: use ContextConfigStorage for digital credentials
  src/bidiMapper/BidiServer.ts
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

refactor: support per-context digital credentials behavior with inheritance
  src/bidiMapper/modules/cdp/CdpTargetManager.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.test.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

chore: implement stubs for new screencast commands and fix eslint warnings
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright, node-self

test(digital-credentials): fix E2E tests and remove flaky wait test
  tests/conftest.py
  tests/digital_credentials/test_virtual_wallet.py
Due: copyright

fix(digital-credentials): bypass TS type check for compatibility with action/behavior
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
Due: copyright, node-self

fix: retry mapper creation on hidden target error and fix keep-sorted
  src/bidiMapper/modules/browser/ContextConfig.ts
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

fix(style): avoid prettier wrapping digitalCredentialsBehavior in ContextConfig
  src/bidiMapper/modules/browser/ContextConfig.ts
Due: copyright, node-self

add Benchmark (customSmallerIsBetter) benchmark result for 96ea483a4b8db4a0eaef196bba34e86ba722db0e
  bench/data.js
Due: copyright

fix(dc): reference SetVirtualWalletBehavior directly and import EmptyResult
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/chromium-bidi.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
Due: copyright, node-self

refactor(dc): address review comments and remove unrelated retry logic
  src/bidiMapper/modules/cdp/CdpTarget.ts
  src/bidiMapper/modules/digitalCredentials/DigitalCredentialsProcessor.ts
  src/bidiServer/MapperCdpConnection.ts
Due: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$
