Repository GoogleChromeLabs/chromium-bidi: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, node-self

Path conditions:
  copyright: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.py$, but not: __init__\.py$
  node-self: any of: \.(ts|mts|cts)$

add Benchmark (customSmallerIsBetter) benchmark result for 901e64eb6b83c0fe5b8221ab99214760507d9612
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c647d0aaca25334926d83136ea851fd32eb46c7e
  bench/data.js
Due: copyright

Remove wpt in chromium-bidi
  .gitmodules
Due: none

Fix mod on chromium-bidi scripts
  tools/run_e2e.py
  tools/run_unittests.py
Due: copyright

Fix non-determenism in compile_ts.py
  tools/build/scripts/compile_ts.py
Due: copyright

[chromium-bidi] Setup PRESUBMIT.py and adopt depot_tools Ruff
  .style.yapf
  PRESUBMIT.py
  PRESUBMIT_test.py
  Pipfile
  README.md
  package.json
  tools/build/scripts/compile_ts.py
Due: copyright

[chromium-bidi] Update README.md and GEMINI.md for Chromium workflow
  .vpython3
  AGENTS.md
  README.md
Due: none

Fix Chromium BiDi deterministic builds
  tools/build/bidi_module.gni
  tools/build/scripts/rollup.py
Due: copyright

[chromium-bidi] Support updating Node.js dependencies in Chromium
  .ncurc.js
  README.md
  tools/update_node_modules.mjs
Due: copyright

Support sharding and improvements in chromium-bidi test runner
  BUILD.gn
  pytest.ini
  tests/resultsink_reporter.py
  tools/benchmark-puppeteer.mjs
  tools/benchmark-selenium.mjs
  tools/bidi-server.mjs
  tools/path-getter/path-getter.mjs
  tools/run-e2e.mjs
  tools/run_e2e.py
  tools/run_unittests.py
Due: copyright

[chromium-bidi] Support Cog workspaces and docs
  AGENTS.md
  DEPS
  PRESUBMIT.py
  README.md
  tools/run_e2e.py
  tools/run_unittests.py
Due: copyright

Improve build hermetism and rollup outputs in chromium-bidi
  .gitignore
  rollup.config.mjs
  tools/build/bidi_module.gni
  tools/build/scripts/rollup.py
  tools/node.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 4904255051afb52108e1b96cd1f1a934d682aa98
  bench/data.js
Due: copyright

Add chromium-bidi test dependencies to gn_all and BUILD.gn
  BUILD.gn
Due: none

Disable failing tests to allow CI setup
  tests/browser/test_create_user_context.py
  tests/network/test_continue_with_auth.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 31aa33591f4a4ad9523ade117472b8aadc548a62
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for fc7df4031acf16f85e28cb383334fc0b1f242ec3
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 6757e1f6e5e8a6ad8c526b9b38d3210461e75775
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 1b8baa96ed66919c6a37a0b6ae22b100a390342f
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 2bee9bec67ddafff74911618f56cab3528c63249
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 040a72dbb9198ca970f88e2497290da62203de93
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for fb6560dda9d512be94a1e24f58901caf6ee6a29b
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for f8842167bb3d52ce2f8b69bd796d7d01b47e59c7
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 498cbd4cda95bdda8aa425f87d0ddb6b67bf2e78
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 17fff61b75ed151f2d04812c08e46df16e17692c
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for c627b406bf6f4499ad2760fede11afd4e72dbad7
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for f3425c57b83e1ad763af02b78b25d4b16dca2320
  bench/data.js
Due: copyright

[chromium-bidi] Add Copybara config to sync to GitHub
  README.md
Due: none

Fix build in GitHub chromium-bidi
  BUILD.gn
Due: none

Update chromium-bidi documentation to use Chromium build and test tools.
  README.md
  docs/benchmark.md
  examples/README.md
  tests/tools/certs/README.md
Due: none

[chromium-bidi] Fix github actions
  .github/actions/setup-chrome-binaries/action.yml
  .github/workflows/performance.yml
  .github/workflows/playwright.yml
  .github/workflows/puppeteer.yml
  tools/install-browser.mjs
Due: copyright

[chromium-bidi] Bump cddlconv to 0.1.10, update CDDL tools & docs
  README.md
  src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
  src/protocol-parser/generated/webdriver-bidi-digital-credentials.ts
  src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
  src/protocol-parser/generated/webdriver-bidi-permissions.ts
  src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol-parser/generated/webdriver-bidi.ts
  src/protocol/generated/webdriver-bidi-bluetooth.ts
  src/protocol/generated/webdriver-bidi-digital-credentials.ts
  src/protocol/generated/webdriver-bidi-nav-speculation.ts
  src/protocol/generated/webdriver-bidi-permissions.ts
  src/protocol/generated/webdriver-bidi-ua-client-hints.ts
  src/protocol/generated/webdriver-bidi.ts
  tools/update-bidi-types.sh
Due: copyright, node-self

[chromium-bidi] Support test filtering and update ResultDB test IDs
  README.md
  tests/resultsink_reporter.py
  tests/test_resultsink_reporter.py
  tools/bidi-server.mjs
  tools/node.py
  tools/run-e2e.mjs
  tools/run_e2e.py
  tools/run_unittests.py
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 5addb90393c0ef5bf994bf34c7baa0260ac50a9e
  bench/data.js
Due: copyright

add Benchmark (customSmallerIsBetter) benchmark result for 992fe0d1471c7bfa99ad2d231181bd99d1a50b79
  bench/data.js
Due: copyright
